scrapegraphai
scrapegraphai[burr]
playwright
python-dotenv
# pydantic==1.10.1
pandas 
openpyxl
langchain-groq
groq
streamlit
tqdm
selenium
beautifulsoup4 
lxml
# google-cloud-texttospeech
# google-auth 
# google-auth-oauthlib 
# google-auth-httplib2

